.showsContainer{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    border: 0px solid red;
    margin-top: 100px;
    margin-bottom: 100px;
}
@media (max-width:850px){
    .showsContainer{
        grid-template-columns: repeat(3,1fr)
    }
}
@media (max-width:480px){
    .showsContainer{
        grid-template-columns: repeat(2,1fr)
    }
}